https://www.youtube.com/watch?v=u4_c2LDi4b8&t=574s&ab_channel=RobMulla

In [1]:
import pandas as pd
import numpy as np

In [13]:
def get_dataset(size : int) -> pd.DataFrame:
    df = pd.DataFrame()

    df['position'] =np.random.choice(['left', 'middle', 'right'],size)
    df['age'] = np.random.randint(1,50, size)
    df['team'] = np.random.choice(['red', 'blue', 'yellow', 'green'], size)
    df['win'] = np.random.choice(['yes', 'no'], size)
    df['prob'] = np.random.uniform(0,1,size)
    return df

In [14]:
df = get_dataset(1_000_000)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 5 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   position  1000000 non-null  object
 1   age       1000000 non-null  int64
 2   team      1000000 non-null  object
 3   win       1000000 non-null  object
 4   prob      1000000 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 38.1+ MB

In [15]:
df.head(5)

  position  age    team  win      prob
0     left    2  yellow   no  0.689629
1    right   13    blue  yes  0.391238
2     left   26     red  yes  0.183516
3    right   22   green   no  0.987001
4   middle   39  yellow  yes  0.268311

In [19]:
%timeit df['age_rank'] = df.groupby(['team','position'])['age'].rank()
%timeit df['prob_rank'] = df.groupby(['team', 'position'])['prob'].rank()
%timeit df['win_prob_rank'] = df.groupby(['team', 'position','win'])['prob'].rank()

366 ms ± 33.2 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
417 ms ± 20.7 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
452 ms ± 14.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [20]:
df.head(5)

  position  age    team  win      prob  age_rank  prob_rank  win_prob_rank
0     left    2  yellow   no  0.689629    2551.0    57295.0        28848.0
1    right   13    blue  yes  0.391238   21410.0    32691.0        16327.0
2     left   26     red  yes  0.183516   43392.5    15244.0         7519.0
3    right   22   green   no  0.987001   36319.5    81891.0        41244.0
4   middle   39  yellow  yes  0.268311   65674.0    22417.0        11361.0

In [23]:
df = get_dataset(1_000_000)
df['position'] = df['position'].astype('category')
df['team'] = df['team'].astype('category')
df.info()

# from 38M -> 25M

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 5 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   position  1000000 non-null  category
 1   age       1000000 non-null  int64
 2   team      1000000 non-null  category
 3   win       1000000 non-null  object
 4   prob      1000000 non-null  float64
dtypes: category(2), float64(1), int64(1), object(1)
memory usage: 24.8+ MB

# Int Downcasting Value Range
- int8 {-128,127}
- int16 {-32768, 32767}
- int64 {-9223372036854775808, 9223372036854775808}

In [24]:
print(df['age'].min())
print(df['age'].max())

1
49

In [25]:
df['age'] = df['age'].astype('int8')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 5 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   position  1000000 non-null  category
 1   age       1000000 non-null  int8
 2   team      1000000 non-null  category
 3   win       1000000 non-null  object
 4   prob      1000000 non-null  float64
dtypes: category(2), float64(1), int8(1), object(1)
memory usage: 18.1+ MB

In [26]:
df['prob'] = df['prob'].astype('float32')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 5 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   position  1000000 non-null  category
 1   age       1000000 non-null  int8
 2   team      1000000 non-null  category
 3   win       1000000 non-null  object
 4   prob      1000000 non-null  float32
dtypes: category(2), float32(1), int8(1), object(1)
memory usage: 14.3+ MB

In [31]:
df['win'] = df['win'].map({'yes': True, 'no': False})

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 5 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   position  1000000 non-null  category
 1   age       1000000 non-null  int8
 2   team      1000000 non-null  category
 3   win       0 non-null        object
 4   prob      1000000 non-null  float32
dtypes: category(2), float32(1), int8(1), object(1)
memory usage: 14.3+ MB

In [35]:
def set_dtypes(df):
    df['win'] = df['win'].map({'yes': True, 'no': False})
    df['prob'] = df['prob'].astype('float32')
    df['position'] = df['position'].astype('category')
    df['team'] = df['team'].astype('category')
    df['age'] = df['age'].astype('int8')
    return df

In [33]:
df = get_dataset(1_000_000)
%timeit df['age_rank'] = df.groupby(['team','position'])['age'].rank()
%timeit df['prob_rank'] = df.groupby(['team', 'position'])['prob'].rank()
%timeit df['win_prob_rank'] = df.groupby(['team', 'position','win'])['prob'].rank()

429 ms ± 78.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
445 ms ± 18.7 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
489 ms ± 32.6 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [36]:
df = get_dataset(1_000_000)
df = set_dtypes(df)
%timeit df['age_rank'] = df.groupby(['team','position'])['age'].rank()
%timeit df['prob_rank'] = df.groupby(['team', 'position'])['prob'].rank()
%timeit df['win_prob_rank'] = df.groupby(['team', 'position','win'])['prob'].rank()

166 ms ± 5.41 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)
339 ms ± 5.98 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
354 ms ± 2.23 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)